* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
#container {
    padding-top: 3%;
    height: 100%;    
    background-image:  url(imgs/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    font-family: 'Secular One', "Montserrat", sans-serif;
}

#input {
    grid-area: 1/1/2/2;  
}
#search {
    margin-bottom: -10%;
}
#search-input {  
    margin-left: 10%;  
    border: none;
    outline: none;
    background-color: transparent;
    color: white;   
    font-size: calc(10px + 1.5vw);
    max-width: 60%;
}
#search-input::placeholder {
    color: white;
    font-family: 'Secular One', "Montserrat", sans-serif;
}
#search-span {
    
    display: flex;
    align-items: flex-start;
}
.search-info {
    width: 100%;
    color: white;    
    margin-top: 7%;
    margin-left: 20%;
}
#search-name{
    font-size: calc(20px + 1.5vw);
}
#search-day, #search-time {
    font-size: calc(10px + 1vw);
}
#search-name {    
    display: flex;
}
#search-icon {
    width: 50%;
    height: 35%;
    display: flex;
    justify-content: center;   
}
#search-img-icon {
    margin-top: 10%;
    width: 70%;
    object-fit: contain;

}
#search-img {
    color: white;
    height: calc(15px + 1.5vw)
}
#search-icon-description {
    margin-top: 0;
    width: 50%;
    display: flex;
    justify-content: center;
}

#info {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#info-temp {
    grid-column: 1/2;
}
#info-add {
    grid-column: 2/3;
}
#info-temp-ul, #info-add-ul {
    height: 100%;
    display: grid;
    align-content: space-between;    
}
#info-temp-ul{
    justify-content: flex-end;
}
#info-add-ul {
    justify-content: center;
}
.info-li {
    list-style: none;
    color: white;
    font-weight: 800;
    font-size: calc(10px + 1vw);   
}
#info span {
    display: flex;
}
.info-img{
    height: calc(10px + 3vw);
    filter: invert(99%) sepia(9%) saturate(329%) hue-rotate(258deg) brightness(118%) contrast(100%);
    margin-right: 10%;
}
#week {
    grid-area: 2/1/3/3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.week-weather {
    width: calc(100/7);
    margin-left: 3%;
    margin-right: 3%;
    background-color: aqua;
}
